<%- include('partials/head2') %>

<div class="card text-center">
    <div class="card-header">
      Report
    </div>
    <div class="card-body">
      <h5 class="h3"><%= reporting.title %> </h5>
      <p class="card-text"> Description :   <%= reporting.description %> </p>
      <p class="card-text"> Issue       :   <%= reporting.issue.title %></p>
      <p class="card-text"> Location    :   <%= reporting.location.name %></p>
      <p class="card-text"> Reported By :   <%= reporting.name %></p>
      <a href="/" class="btn btn-primary">Dashboard</a>
    </div>
    <div class="card-footer text-muted">
        <%= reporting.dateReported%>
    </div>
  </div>

<%- include('partials/tail2') %>
