
            <div class="row">
                <div class="col-md-7 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Latest Reports</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th> # </th>
                              <th> Title </th>
                              <th> Location </th>
                              <th> Issue </th>
                              <th> Reported By</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% index = 1; count = 0 %>
                            <% reportings.map((report)=>{ %>
                              <tr>
                                <td> <%= index++ %> </td>
                                <th> <%= report.title %>  </th>
                                <td> <%= report.location.name  %> </td>
                                <td> <%= report.issue.title %>  </td>
                                <td> <%= report.name %>  </td>
                              </tr>
                            <% }); %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Top Locations</h4>
                      <p class="card-description"> Ranking  from Highest
                      </p>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th> Name </th>
                            <th> Number Of Reports </th>
                          </tr>

                        </thead>
                        <tbody>
                          <% locations.map((location)=> { %>
                            <tr
                            <% if(location.numberOfIssues > 5){%>
                              class="table-danger"
                            <% } else if (location.numberOfIssues >= 3) { %>
                              class="table-warning"
                            <% } else  { %>
                            class="table-info"
                            <% } %>
                            >
                              <td>
                                <%= location.name %>
                              </td>
                              <td>
                                <%= location.numberOfIssues %>
                              </td>
                            </tr>
                            <% }); %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
